body
{
    margin: 0px;
    padding: 0px;
    /* 将外边距、内边距重置为0px，以防网页中的元素出现空白间距。 */

    font-family: Arial, sans-serif;  /* 设置网页字体 */
}

/* 标题头部样式表设计 */
.header
{
    background-color: #333;   /* 设置盒子的背景颜色 */

    color: rgb(194, 53, 53);  /* 设置盒子中的元素颜色 */
    text-align: center;       /* 设置盒子中的元素居中 */

    padding: 20px 0px;    /* 通过设置盒子内容 距离 盒子边的上下内边距的方式，来达到垂直居中的效果。 */

    /* 一个盒子从外到内由外边距(margin)、边框(border)、内边距(padding)、盒子内容组成的。
    外边距(margin)：排开盒子上、下、左、右的元素，从而与其它元素产生空白间距。
    边框(border)：盒子的边框。
    内边距(padding)：盒子内容距离盒子边的间距。注意：设置该属性会撑大盒子的大小。*/

}

.header h1
{
    margin: 0px 0px;  /* 重置h1标签的默认margin属性值。 */
}

/* 整体布局容器 */
.container
{
    display: flex;  /* 开启弹性布局。可以使块级元素，并行排列。这样就可以使，侧边栏(盒子)与主内容(盒子)并行排列在一起。 */
}

/* 侧边栏样式 */
.sidebar
{
    width: 200px;    /* 设计 */
    background-color: #ffffff; /* 设置侧边栏背景为白色 */
    min-height: 100vh;
    padding: 20px;
}

.sidebar ul h1
{
    font-size: 1.5em;
    margin-top: 0;
    color: #120101;
}

/* 侧边栏ul无序列表样式 */
.sidebar ul
{
    list-style-type: none;  /* 取消ul标签中li标签的小点。 */
    padding: 0px; /* 重置ul元素的内边距 */
}
/* 侧边栏li列表项样式 */
.sidebar li
{
    margin-bottom: 10px;  /* 设置li元素的底部间距 */
}

/* 侧边栏a超链接样式 */
.sidebar li a
{
    text-decoration: none; /* 取消链接的下划线 */
    color: #000;       /* 设置a元素中的字体元素的颜色 */
    display: block;     /* 将a元素的显示模式inline(行内元素) 转换为 block(块级元素)*/
    /* 行内元素：无法设置宽度、高度，该元素的宽度、高度由内容的宽度、高度撑开。
       块内元素：默认宽度为父级元素的宽度。该元素的宽度、高度可以自由设置。
        */

    padding: 5px 10px;  /* 设置盒子内容距离盒子边的间距 。上下 左右 */

    background-color: #f0f0f0; /* 设置li列表项中的a元素的背景颜色 */

    border-radius: 5px;  /* 为li列表项中的a元素添加圆角边框 */

}

.sidebar li a:hover
{
    background-color: #ddd; /* 鼠标悬停时的盒子的背景颜色 */
    color: #007BFF;        /* 鼠标悬停时的字体颜色。 */
}

/* 主内容区域样式 */
.main-content
{
    padding: 20px; /* 设置 */
    flex: 1;
}
